* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*Encabezado */

header {
    display: flex;
    justify-content: space-between;
    background-color: #1891AC;
    width: 100%;
    align-items: center;
    padding: 3rem 8rem 0.125rem;
}

.logo {
    width: 10rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5rem;
}

.navbar li:hover {
    /*color: #253B6E;*/
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

input:focus {
    background-color: #90ebff;
}

/* Banner */

.section-principal {
    background-image: url(../asset/img/banner.jpeg);
    background-size: cover;
    background-position: 0% 50%;
    height: 850px;
    padding: 3rem 8rem 0.125rem;
    display: flex;
    align-items: center;

}

.capsula-banner {
    background-color: rgba(24, 145, 172, .3);
    width: 550px;
    padding: 2rem 2rem 2rem;
    margin: 8rem;
}

.title-nosotros {
    font-size: 5rem;
    text-align: left;
    color: #253B6E;
    padding: 3rem 0rem;
}

.section-nosotros {
    background-image: url(../asset/img/back-head.jpeg);
    background-position: 50% 100%;
    height: auto;
    padding: 3rem 8rem 3rem;
}

.contenedor-nosotros {
    display: flex;
    flex-direction: row;
}

.section-nosotros-int {
    background-position: 50% 100%;
    height: auto;
    padding: 3rem 8rem 3rem;

}

.foto-perfil {
    width: 200px;
}

.linkedin {
    height: 32px;
    display: contents;
}

.title-servicios {
    font-size: 5rem;
    text-align: left;
    color: white;
    padding: 3rem 0rem;
}

.section-servicios {
    background-image: url(../asset/img/back-head.jpeg);
    background-color: rgba(37, 59, 110, .3);
    background-position: 50% 100%;
    height: auto;
    padding: 3rem 8rem 3rem;
}

.section-servicios-int {
    background-position: 50% 100%;
    height: auto;
    padding: 3rem 8rem 3rem;
}

.title-clientes {
    font-size: 5rem;
    text-align: left;
    color: white;
    padding: 3rem 0rem;
}

.section-clientes {
    background-image: url(../asset/img/back-head.jpeg);
    background-color: rgba(37, 59, 110, .3);
    background-position: 50% 100%;
    height: 850px;
    padding: 3rem 8rem 0.125rem;

}

.logos-clientes {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 8rem;
    padding: 2rem 2rem 2rem;
    margin: 3rem 0rem;
}

.title-contacto {
    font-size: 5rem;
    text-align: left;
    color: #253B6E;
    padding: 3rem 0rem;
    justify-content: center;
}

.section-contacto {
    background-image: url(../asset/img/back-head.jpeg);
    background-position: 50% 100%;
    height: auto;
    padding: 3rem 8rem 3rem;
}

.contacto-form {
    display: flex;
    justify-content: center;
}

.mapa-ubicacion {
    background-color: rgba(31, 95, 139, 0.25);
    width: 650px;
    padding: 2rem 2rem 2rem;
    margin: 2rem;

}

.mapa-google {
    width: 600px;
    height: 450px;
}

.formulario-contacto {
    background-color: rgba(31, 95, 139, 0.25);
    width: 650px;
    padding: 2rem 2rem 2rem;
    margin: 2rem;
}

.campos-form {
    padding: 2.8125rem;
    width: 600px;
    border: none;
}

.pie {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1891AC;
    color: white;
    font-size: 0.875rem;
    gap: 6.25rem;
    padding: 30px;
}

.iconos-footer {
    display: flex;
    height: 32px;
    gap: 1rem;
}

.derechos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #253B6E;
    color: white;
    font-size: 12px;
    height: 2rem;
}


.controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    font-size: 14px;
    color: white;
}


.formulario-contacto .boton {
    width: 100%;
    background: #253B6E;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/***** Resolución bajo 768 px *****/

/* Header */
@media(max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 3rem;
    }

    /* Principal */

    .section-principal {
        height: 850px;
        background-image: url(../asset/img/banner.jpeg);
        background-size: cover;
        background-position: 75%;
        padding: 31rem 0rem 0.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .capsula-banner {
        background-color: rgba(24, 145, 172, .3);
        width: 550px;
        padding: 2rem 2rem 2rem;
        margin: 8rem;
    }



    /* Nosotros */

    .title-nosotros {
        font-size: 4rem;
        text-align: center;
        color: #253B6E;
        padding: 0px;
    }

    .contenedor-nosotros {
        display: flex;
        flex-direction: column;
    }

    .section-nosotros-int {
        height: auto;
        padding: 3rem 8rem 3rem;
    }

    /* Servicios */

    .title-servicios {
        font-size: 4rem;
        text-align: center;
        color: #253B6E;
        padding: 0px;
    }

    /* Clientes */

    .title-clientes {
        font-size: 4rem;
        text-align: center;
        color: #253B6E;
        padding: 0px;
    }

    .section-clientes {
        height: auto;
        padding: 3rem 8rem 0.125rem;
        text-align: center;
    }

    .logos-clientes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-content: center;
        width: 100%;
        height: 5%;
    }

    /* Contacto */

    .title-contacto {
        font-size: 4rem;
        text-align: center;
        color: #253B6E;
        padding: 0px;
    }

    .contacto-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapa-ubicacion {
        width: 450px;
        padding: 2rem 2rem 2rem;
        margin: 2rem;
        text-align: center;
    }

    .mapa-google {
        width: 400px;
        height: 450px;
    }

    .formulario-contacto {
        width: 450px;
        padding: 2rem 2rem 2rem;
        margin: 2rem;
        text-align: center;
    }

    .campos-form {
        padding: 2.8125rem;
        width: 400px;
        border: none;
    }
}